<!-- wp:group {"className":"aje-main-with-sidebar","layout":{"type":"default"}} -->
<div class="wp-block-group aje-main-with-sidebar">
  <!-- wp:template-part {"slug":"mobile-header","tagName":"div"} /-->
  <!-- wp:template-part {"slug":"sidebar","tagName":"div"} /-->
  <!-- wp:group {"className":"aje-content","layout":{"type":"default"}} -->
  <div class="wp-block-group aje-content">
    <!-- wp:pattern {"slug":"aje/codex-invite"} /-->
    <!-- wp:template-part {"slug":"footer","tagName":"div"} /-->
  </div>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->
