<!-- wp:group {"className":"aje-main-with-sidebar","layout":{"type":"default"}} -->
<div class="wp-block-group aje-main-with-sidebar">
  <!-- wp:template-part {"slug":"mobile-header","tagName":"div"} /-->
  <!-- wp:template-part {"slug":"sidebar","tagName":"div"} /-->
  <!-- wp:group {"className":"aje-content","layout":{"type":"default"}} --><div class="wp-block-group aje-content">
    <!-- wp:group {"tagName":"main","className":"aje-article-layout","layout":{"type":"default"}} --><main class="wp-block-group aje-article-layout">
      <!-- wp:group {"tagName":"article","className":"aje-article-main","layout":{"type":"default"}} --><article class="wp-block-group aje-article-main">
        <!-- wp:group {"tagName":"header","className":"aje-article-header","layout":{"type":"default"}} --><header class="wp-block-group aje-article-header"><!-- wp:post-title {"level":1} /--></header><!-- /wp:group -->
        <!-- wp:post-content {"className":"aje-prose","layout":{"type":"constrained"}} /-->
      </article><!-- /wp:group -->
    </main><!-- /wp:group -->
    <!-- wp:template-part {"slug":"footer","tagName":"div"} /-->
  </div><!-- /wp:group -->
</div>
<!-- /wp:group -->
